#cover-inquiry{
	background:url('../images/inquiry.jpg') 50% 50%;
	background-size:cover;
}


#cover-hotel-tlsc{
	background:url('../images/tlsc-bldg.jpg') 50% 55%;
	background-size:140%;
	color:white;
}


#cover-hotel-hrtsc{
	background:url('../images/hrt-bldg.JPG') 50% 55%;
	background-size:140%;
	color:white;
}